---
title: Welcome to Kim Engie's Page
---


 <!-- <a href="about.html">Kim Engie</a> -->

<div>
<h1>Kim Engie</h1>
</div>

<table>
<tr>
  <td><a href="/research.html"><img src="/images/IMG_0312-gal.JPG", height="200px", width="200px"></td>
  <td><a href="/cartography-viz.html"><img src="/images/anim_NW.png", height="200px", width="200px"></td>
  <td><a href="/super8.html"><img src="/images/DSC_0807_super8.JPG", height="200px", width="200px"></td>
</table>
